:root {
  --main-color: #212121;
  --background-theme-color: #2f303a;
  --text-color: #757575;
  --theme-color: #2196f3;
  --recent-color: #ffffff;
  --background-color: #f5f4fa;
  --line-color: #ececec;
  --order-button-hover: #188ce8;
}
body {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  margin: 0;
  color: var(--main-color);
}
/* ------------header------------ */
.header {
  margin: 0;
  padding: 0 215px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  border-bottom: 1px solid var(--line-color);
}

.menu {
  display: flex;
}
.menu ul {
  padding: 0;
  padding-top: 32px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.menu li {
  padding-left: 50px;
}
.nav-item a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: all 0.3ms ease-in-out;
}
.header a:hover,
.header a:focus {
  color: var(--theme-color);
}
.logo-name-start {
  color: var(--theme-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 0 43px 0 0;
  padding-top: 24px;
}
.logo-name-end {
  color: var(--main-color);
}
.contacts {
  margin: 0;
  padding-top: 32px;
  display: flex;
  list-style-type: none;
}
.contacts li {
  padding-left: 50px;
  justify-content: space-between;
}
.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

/* ------------top-section------------ */

.top-section {
  height: 600px;
  background-color: var(--background-theme-color);
}
.main-header {
  margin: 0;
  padding: 200px 452px 30px;
  font-weight: 900;
  color: var(--recent-color);
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.order-button {
  display: flex;
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--theme-color);
  color: var(--recent-color);
  border: none;
  border-radius: 4px;
}
.order-button:hover,
.order-button:focus {
  background-color: var(--order-button-hover);
  cursor: pointer;
}
/* ------------about-us------------ */
.about-us {
  margin: 94px 200px 0;
}
.about-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 15px;
}
.about-list-item {
  width: 270px;
  flex-direction: row;
}
.feature {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-transform: uppercase;
}
.about-feature {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: vaR(--text-color);
  margin: 10px 0 0 0;
}
/* ------------what-we-do------------ */
.what-we-do {
  margin: 94px 200px;
  padding: 0;
}
.what-we-do-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin: 0 0 50px;
  padding: 0;
}
.what-we-do-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.what-we-do-image {
  flex-direction: row;
  margin: 0;
  padding: 0 15px;
}
img {
  margin: 0;
  padding: 0;
}
/* ------------our-team----------- */
.our-team {
  padding: 94px 200px;
  background-color: var(--background-color);
}
.our-tem-header {
  margin: 0;
  padding: 0 0 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
}
.cards {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.team-card {
  flex-direction: row;
  margin: 0 15px;
  padding: 0;
  text-align: center;
  background-color: var(--recent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member {
  margin: 0;
  padding: 30px 0 10px;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.team-card p {
  margin: 0;
  padding: 0 0 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* --------------footer------------ */
.footer {
  background-color: var(--background-theme-color);
  padding: 60px 0 60px 215px;
}

.address {
  text-decoration: none;
  margin: 20px 0 0;
  padding: 0;
}
.address-item {
  list-style-type: none;
  margin: 9px 0 0;
  transition: all 0.4ms ease-in-out;
}
.address-item a:hover,
.address-item a:focus {
  color: var(--theme-color);
}
.address-item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding: 0;
  color: var(--recent-color);
}
.footer-logo-name-start {
  color: var(--theme-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-logo-name-end {
  color: var(--recent-color);
}
.footer-mail,
.footer-tel {
  opacity: 0.6;
}
/* --------portfolio--------- */
.projects-main {
  margin: 94px 200px 90px;
}
.invisible {
  margin: -1 0 0;
  padding: ;
  font-size: 1px;
  opacity: 0;
}
.filters {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 auto 35px;
  justify-content: center;
}
.filter-items {
  flex-direction: row;
  margin: 0 4px;
}
.filter-button {
  padding: 6px 25px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-color);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  transition: all 0.4ms ease-in-out;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--theme-color);
  color: var(--recent-color);
}
.projects-cards {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.projects-items {
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.projets-img {
  width: 370px;
  height: 294px;

  margin: 0;
  padding: 0;
}
.projects-cards h3 {
  margin: 20px 24px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-cards p {
  margin: 0 24px 20px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
